<%= render 'warnings', no_avail: @no_avail %>
<% if @has_a_roster %>
  <div class="panel panel-default">
    <!-- Default panel heading -->
    <div class="panel-heading"><h2>This Weeks Schedule</h2><%= @weekrange %></a></div>
    <!-- Table -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="header">Employee</th>
          <% @week.each do |day| %>
            <th class="header"><%= day.strftime("%A, %b %d") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.format_name %></td>
            <% @schedule.emp_shifts(employee).each do |shift| %>
              <td><%= shift %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Download PDF", root_url(:format => "pdf") %>
  <%= link_to "Delete", dashboard_delete_url %>
<% else %>
  You currently have no schedules, click Render
<% end %>

