
<div class="table-responsive col-sm-10 col-sm-offset-1">
    <table class="table table-striped table-bordered">
      <thead>
        <tr><h1>Employee Preferences</h1></tr>
        <tr>
          <th class="col-sm-1">Firstname</th>
          <th class="col-sm-1">Lastname</th>
          <th class="col-sm-2">Email</th>
          <th class="col-sm-1"></th>
          <th class="col-sm-2">
              <div class="btn-group">
                  <%= link_to "Add Employee", new_employee_path, :type => "button", :class => "btn btn-default", :remote => true %>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "Import Employee Preferences", import_employees_path, :remote => true %></li>
                  </ul>
              </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.firstname %></td>
            <td><%= employee.lastname %></td>
            <td><%= employee.email %></td>
            <td><%= link_to 'Preferences', edit_employee_path(employee), class: "btn btn-info", remote: true %></td>
            <td><%= link_to 'Remove', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div id="employee-modal" class="modal fade"></div>
<br>

