<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Monstart:</strong>
  <%= @employee.monstart %>
</p>

<p>
  <strong>Monfinish:</strong>
  <%= @employee.monfinish %>
</p>

<p>
  <strong>Tuestart:</strong>
  <%= @employee.tuestart %>
</p>

<p>
  <strong>Tuefinish:</strong>
  <%= @employee.tuefinish %>
</p>

<p>
  <strong>Wedstart:</strong>
  <%= @employee.wedstart %>
</p>

<p>
  <strong>Wedfinish:</strong>
  <%= @employee.wedfinish %>
</p>

<p>
  <strong>Thurstart:</strong>
  <%= @employee.thurstart %>
</p>

<p>
  <strong>Thurfinish:</strong>
  <%= @employee.thurfinish %>
</p>

<p>
  <strong>Fristart:</strong>
  <%= @employee.fristart %>
</p>

<p>
  <strong>Frifinish:</strong>
  <%= @employee.frifinish %>
</p>

<p>
  <strong>Satstart:</strong>
  <%= @employee.satstart %>
</p>

<p>
  <strong>Satfinish:</strong>
  <%= @employee.satfinish %>
</p>

<p>
  <strong>Sunstart:</strong>
  <%= @employee.sunstart %>
</p>

<p>
  <strong>Sunfinish:</strong>
  <%= @employee.sunfinish %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
