<div id="content" class="bs-docs-header">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" role="main">
        <div class="bs-docs-section">


          <h1 class="page-header">Company Settings</h1>

          <%= form_for @user, :url => { :action => "edit" } do |f| %>

            <div class="input-group">
              <span class="input-group-addon">
                <%= f.label :name %>:
              </span>
              <%= f.text_field :name , class: "form-control"%>
            </div>
            <br />

            <div class="input-group">
              <span class="input-group-addon">
                <%= f.label :timezone %>:
              </span>
              <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {:default => "Pacific Time (US & Canada)"}, {:class => " form-control"} %>
            </div>
            <br />
            <br />
            <%= f.submit "Save", class: "btn btn-primary" %>
          <%end%>
</div>
</div>
</div>
</div>
</div>
