<%= form_for(@leave) do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
    <% if @leave.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@leafe.errors.count, "error") %> prohibited this leave from being saved:</h2>

        <ul>
        <% @leave.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Details of Leave</h4>
    </div>
    <div class="modal-body">
      <div class= "container">
      <div class="row">
        <div class="field col-lg-5">
          <%= f.label :employee %><br>
          <%= select_tag "employee_id", options_from_collection_for_select(@employees, "id", "format_name"), {name: "leave[employee_id]", class: "form-control" }%>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="field col-lg-6">
          <%= f.label :start %><br>
          <%= f.text_field :start_human, class: "form-control" %>
        </div>
        <div class="field col-lg-6">
          <%= f.label :finish %><br>
          <%= f.text_field :finish_human, class: "form-control" %>
        </div>
      </div>
      <% if @deletable %>
        <br>
        <%= button_to "delete", @leave, :method => :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class= "btn-toolbar pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
              Save
          <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<% end %>
