<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @leafe.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @leafe.finish %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @leafe.employee %>
</p>

<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
